:root {
  --brand-color: #2196F3;
  --primary-text-color: #212121;
  --text-color: #757575;
  --primary-white-color: #ffffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --black-color: #000000;
  --icon-color: #afb1b8;
  --icon-bg: rgba(255, 255, 255, 0.1);
  --secondary-bg-color: #f5f4fa;
  --blocks-bg-color: #2f303a;
  --btn-primary-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --team-list-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --btn-secondary-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --portfolio-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --margin-set: 30px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.header-box {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link-logo {
  font-family: Raleway;
  font-weight: 700px;
  color: var(--black-color);
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.logo {
  color: var(--brand-color);
}

.nav-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.nav-links .nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-item .navlink {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-links .navlink.slider {
  color: var(--brand-color);
}

.nav-links .slider::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 4px;
  background: var(--brand-color);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  bottom: -1px;
}

.navlink {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-links .navlink:hover,
.nav-links .navlink:focus {
  color: var(--brand-color);
}

.contacts-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contacts-section .item:not(:last-child) {
  margin-right: 50px;
}

.contacts-section .contact {
  position: relative;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact:focus,
.contact:hover {
  color: var(--brand-color);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-icon:focus,
.contact-icon:hover {
  fill: var(--brand-color);
}

.section-decision {
  text-align: center;
}

.overlay {
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  min-height: 600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(4, 4, 5, 0.4))), url("../photo/overlay.jpg");
  background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(4, 4, 5, 0.4)), url("../photo/overlay.jpg");
  background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(4, 4, 5, 0.4)), url("../photo/overlay.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(4, 4, 5, 0.4)), url("../photo/overlay.jpg");
  background-color: var(--blocks-bg-color);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

.decision {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 30px;
}

.decision-button {
  background-color: var(--brand-color);
  font-family: inherit;
  color: var(--primary-white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  background-color: var(--brand-color);
  min-width: 200px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
}

button {
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border-style: none;
  cursor: pointer;
}

.section-features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: -webkit-calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
  margin-left: -webkit-calc(-1 *30px);
  margin-left: calc(-1 *30px);
}

.feature-item {
  -webkit-flex-basis: -webkit-calc(100% / 4 - 30px);
      -ms-flex-preferred-size: calc(100% / 4 - 30px);
          flex-basis: calc(100% / 4 - 30px);
  margin-top: var(--margin-set);
  margin-left: var(--margin-set);
}

.feature-thumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--secondary-bg-color);
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.feature-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
}

.feature-text {
  font-size: 14px;
  line-height: 24px;
  color: var(--text-color);
}

.section-works {
  padding-bottom: 94px;
  padding-top: 0;
}

.work-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.works-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: var(--margin-set);
  margin-top: -webkit-calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
  margin-left: -webkit-calc(-1 * 30px);
  margin-left: calc(-1 * 30px);
}

.works-item > .work-photo {
  -webkit-flex-basis: -webkit-calc(100% / 3 - 30px);
      -ms-flex-preferred-size: calc(100% / 3 - 30px);
          flex-basis: calc(100% / 3 - 30px);
  margin-top: var(--margin-set);
  margin-left: 30px;
  position: relative;
}

.subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.work-photo > .subtitle {
  -webkit-flex-basis: -webkit-calc(100% / 3 - 30px);
      -ms-flex-preferred-size: calc(100% / 3 - 30px);
          flex-basis: calc(100% / 3 - 30px);
  position: relative;
  background: rgba(47, 48, 58, 0.8);
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.section-team {
  background-color: var(--secondary-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title, .client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: -webkit-calc(-1*30px);
  margin-top: calc(-1*30px);
  margin-left: -webkit-calc(-1*30px);
  margin-left: calc(-1*30px);
}

.team-list > .team-info {
  -webkit-flex-basis: -webkit-calc(100% / 4 - 30px);
      -ms-flex-preferred-size: calc(100% / 4 - 30px);
          flex-basis: calc(100% / 4 - 30px);
  margin-top: var(--margin-set);
  margin-left: var(--margin-set);
}

.team-list .team-info {
  -webkit-box-shadow: var(--team-list-shadow);
          box-shadow: var(--team-list-shadow);
  -webkit-border-radius: 0px 0px 4px 4px;
          border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  background-color: var(--primary-white-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 30px;
}

.team-profession {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 16px;
}

.social-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
}

.social-link.profile {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: var(--icon-bg);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list .social-item:not(:last-child) {
  margin-right: 10px;
}

.social-icon {
  fill: var(--icon-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--primary-white-color);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--brand-color);
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.section-client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: -webkit-calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
  margin-left: -webkit-calc(-1 * 30px);
  margin-left: calc(-1 * 30px);
}

.client-list > .client-item {
  -webkit-flex-basis: -webkit-calc(100% / 6 - 30px);
      -ms-flex-preferred-size: calc(100% / 6 - 30px);
          flex-basis: calc(100% / 6 - 30px);
  margin-top: var(--margin-set);
  margin-left: var(--margin-set);
}

.client-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  fill: var(--icon-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--brand-color);
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--brand-color);
}

.section-footer {
  background: var(--blocks-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.main {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.address-thumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo-white {
  color: var(--primary-white-color);
}

.footer-adress {
  margin-top: 25px;
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.contacts-foot {
  padding-left: 0px;
}

.foot-item {
  margin-top: 9px;
}

.footer-contact-mail {
  color: var(--icon-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
  margin-top: 9px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-tel {
  color: var(--icon-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
  margin-top: 9px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-mail:hover, .footer-contact-tel:hover,
.footer-contact-mail:focus, .footer-contact-tel:focus {
  color: var(--brand-color);
}

.footer-thumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 70px;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}

.title-light {
  margin-bottom: 25px;
  color: var(--primary-white-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
}

.footer-soc-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-icon.secondary {
  fill: var(--primary-white-color);
}

.social-link.secondary {
  background-color: var(--icon-bg);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link.secondary:hover,
.social-link.secondary:focus {
  background-color: var(--brand-color);
}

.footer-soc-list .social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-form {
  margin-left: 93px;
}

.footer-form-field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer-form-field .footer-input {
  margin: 0;
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: var(--btn-primary-shadow);
          box-shadow: var(--btn-primary-shadow);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  cursor: pointer;
  color: var(--primary-white-color);
}

.decision-button.subscription {
  min-width: 200px;
}

.footer-send {
  fill: var(--primary-white-color);
  vertical-align: middle;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transform: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      -ms-transform: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          transform: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: inherit;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
      -ms-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
  background-color: var(--primary-white-color);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer;
}

.icon-close {
  position: absolute;
  top: 6px;
  right: 6px;
  fill: var(--black-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover {
  background-color: var(--primary-white-color);
}

.close-button:hover .icon-close {
  fill: var(--brand-color);
}

.form-title {
  margin-top: 40px;
  margin-bottom: 12px;
  text-align: center;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.modal-form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form .form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-field .form-input,
.form-field textarea {
  margin: 0;
  padding: 11px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.modal-form .form-input {
  padding-left: 42px;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within .modal-icon,
.form-field:hover .modal-icon {
  fill: var(--brand-color);
}

.form-field:focus-within .form-input,
.form-field:hover .form-input {
  border-color: var(--brand-color);
  outline: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field .comment {
  padding: 12px 16px;
  resize: none;
  height: 120px;
}

.form-field:focus-within .comment,
.form-field:hover .comment {
  border-color: var(--brand-color);
  outline: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field .form-label {
  margin-bottom: 4px;
  color: var(--text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-field .form-input::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-field .form-input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-field .form-input::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-field .form-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-check {
  position: relative;
  top: 50%;
  left: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

.checkbox-icon {
  position: absolute;
  top: 50%;
  left: 0;
  fill: var(--primary-text-color);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 1;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check:focus-within .checkbox-icon {
  opacity: 0;
}

.checkbox-icon.check {
  position: absolute;
  top: 50%;
  left: 0;
  fill: var(--primary-text-color);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}

.form-check:focus-within .checkbox-icon.check {
  opacity: 1;
}

.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-text {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 24px;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.71;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.policy-link {
  color: var(--brand-color);
}

.form-check .form-input[type="checkbox"] {
  width: 16px;
  height: 15px;
  color: var(--primary-text-color);
}

.button-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: var(--margin-set);
  margin-bottom: 40px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-list .item:not(:last-child) {
  margin-right: 8px;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  background-color: var(--secondary-bg-color);
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:focus,
button:hover {
  color: var(--primary-white-color);
  background-color: var(--brand-color);
}

.flex-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: -webkit-calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
  margin-left: -webkit-calc(-1 * 30px);
  margin-left: calc(-1 * 30px);
}

.img-thumb {
  position: relative;
  overflow: hidden;
}

.img-thumb::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .text-overlay {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.project-link {
  display: block;
  text-decoration: none;
}

.project-link:hover,
.flex-element:focus {
  -webkit-box-shadow: var(--portfolio-shadow);
          box-shadow: var(--portfolio-shadow);
}

.project-link:hover .img-thumb::before,
.project-link:focus .img-thumb::before {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.flex-box > .flex-element {
  -webkit-flex-basis: -webkit-calc(100% / 3 - 30px);
      -ms-flex-preferred-size: calc(100% / 3 - 30px);
          flex-basis: calc(100% / 3 - 30px);
  margin-top: var(--margin-set);
  margin-left: var(--margin-set);
}

.flex-element .list .btn {
  margin-bottom: 50px;
}

.flex-element {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-element:hover,
.flex-element:focus {
  -webkit-box-shadow: var(--portfolio-shadow);
          box-shadow: var(--portfolio-shadow);
}

.content-project {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
}

.projekt-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.projekt-work {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
}

.text-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 63px 24px;
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */