.section-decision{
   
 text-align: center;
}
.overlay{ 
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    min-height: 600px;

   background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(4, 4, 5, 0.4)
        ),
      url("../photo/overlay.jpg");
    background-color:  var(--blocks-bg-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.decision{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 30px;
 
}
.decision-button{
 background-color: var(--brand-color);
 font-family: inherit;
 color: var(--primary-white-color);
 font-weight: bold;
 font-size: 16px;
 line-height: 1.87;
 background-color: var(--brand-color);

  min-width: 200px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
   
}

button {
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
}
